<nav class="navbar navbar-dark bg-success pt-1">
        <div class="row">
            <div class="col-md-6">
                <a class="navbar-brand">Asesores</a>
            </div>
    
            <div class="col-md-6">
                <a class="navbar-brand" href="#">Clientes</a>
            </div>
    
        </div>
    
    
    </nav>
    
    <div class="container pt-1">
    
        <nav class="navbar navbar-dark bg-secondary ">
            <div class="row">
                <div class="col-md-6">
                    <a class="navbar-brand" href="#">Lista de Asesores</a>
                </div>
    
                <div class="col-md-6">
                    <a class="navbar-brand" (click)="registrarAsesor(asesor)">Registrar Asesor</a>
                </div>
    
            </div>
    
    
        </nav>
    
    </div>